*{
    margin: 0;
    padding: 0;
}


@media (max-width:771px){
    filters{
        width:40%;
        padding: 10px;
        margin: 5px;
    }
    .filters>span{
        font-size: 10px;
    }
    .title{
        font-size: 18px;
    }
    .products_container{
        width: 18%;
        padding: 0px;
    }
    .product__single{
        width: 100%;
    }
}